
.ContCards1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    background: rgba(63, 103, 236, 0.2);

    
}

.card1 {
    line-height: 20px; 
    text-align: center;
    background-color: white;
   
}

.card1:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 10px black;
}

.img1 {
    width: 90%;
    margin: 15px auto;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.textNombre1 {
    width: 90%;
    font-weight: bolder;
    font-size: 20px;
}
 
.text1 {
    font-family: cursive;
    width: 90%;
    margin-bottom: 0;
    margin: auto;
    height: 50px;
    overflow: hidden;
    padding: 5px;

}
